.gradle
.DS_Store
.externalNativeBuild
/local.properties
build/
/buildSrc/build/
/captures
yarn.lock
node_modules/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

### CDK ###
cdk.out

### CDK ###
.angular/

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
*.log

# Xcode
/.idea
.cxx
Podfile.lock
Pods/
*.xcworkspace/
*.xcodeproj/
!project.pbxproj
*.podspec