/* You can add global styles to this file, and also import other style files */

:root {
  --font-size-xsmall: 14px;
  --font-size-small: 18px;
  --font-size-medium: 20px;
  --font-size-large: 26px;
  --font-size-xlarge: 32px;
  --font-size-xxlarge: 38px;

  --border-xsmall: 1px;
  --border-small: 2px;
  --border-medium: 3px;
  --border-large: 4px;
  --border-xlarge: 5px;

  --size-none: 0px;
  --size-xxsmall: 8px;
  --size-xsmall: 16px;
  --size-small: 24px;
  --size-medium: 32px;
  --size-large: 48px;
  --size-xlarge: 64px;
  --size-xxlarge: 128px;

  --horizontal-full: 1920px;
  --horizontal-three-quarters: 1440px;
  --horizontal-half: 960px;
  --horizontal-three-eighths: 720px;
  --horizontal-quarter: 480px;
  --horizontal-eighth: 240px;

  --vertical-full: 1080px;
  --vertical-seven-eighths: 945px;
  --vertical-three-quarters: 810px;
  --vertical-half: 540px;
  --vertical-quarter: 270px;
  --vertical-eighth: 135px;

  --kotlin_grey: #27282C;
  --white: #ffffff;
}

body {
  margin: 0;
}