[Unit]
Description=PS2Link Server service
After=syslog.target

[Service]
WorkingDirectory=%h/.local/ps2link/
ExecStart=/bin/java -jar service-all.jar -config=override.conf
ExecStop=/bin/kill -15 $MAINPID
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target