{{> header}}

<section class="article">
	<header class="article-header">
		<h1 class="article-title">{{article.title}}</h1>
	</header>

	<div class="article-description">
		{{article.content}}
	</div>
</section>

{{> footer}}
