<html>
{{> header}}

{{> navbar}}

<h1>{{title}}</h1>

{{#banner.title}}
    <section>
        <header>
            <h2>{{banner.title}}</h2>
        </header>
        <div>
            {{banner.content}}
        </div>
    </section>
{{/banner.title}}

<div>
	{{#articles}}
		<section>
			<header>
				<h2><a href="/article/{{id}}">{{title}}</a></h2>
                <h3>Added on {{addedAt}}</h3>
                <h4>From {{source}}</h4>
			</header>
		</section>
	{{/articles}}
</div>

{{> footer}}
</html>