<configuration>
    <property name="LOG_FILE" value="tdsd" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>

            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}\t%thread\t%-5level\t%logger{35}\t%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.baeldung.logback" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>
</configuration>