:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--kotlin_grey);
}

a {
  color: var(--white);
  text-decoration: none;
}

.headerColumn {
  display: flex;
  padding: 10px;
	width: 100%;
	max-width: 380px;
  justify-content: space-around;
}

h1, h2, h3 {
  display: inline;
}