:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--kotlin_grey);
  color: var(--white);
}

a {
  color: var(--white);
  text-decoration: none;
}

.footerColumn {
  padding: 10px;
	width: 100%;
	max-width: 380px;
}

h1, h2, h3, h4 {
  display: inline;
}